################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/x64
/.vs/phalanx/v16
.vscode

phalanx
vert.spv
frag.spv
